body{
font-family:"Roboto", sans-serif;
color:#434455;
background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{ margin-top: 0;
    margin-bottom: 0;

}
ul,
ol{
    list-style: none;
    margin:0;
    padding-left: 0;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }

a{
    text-decoration:none;
}
img{display: block;}
/*----------------HEADER----------*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom:1px solid #e7e9fc;
}

.container-header{ 
    display: flex;
    align-items: center;
}

.nav-header-container{
display: flex;
align-items: center;
}

.logo{
        font-family:"Raleway", sans-serif;
        font-weight:700;
        font-size:18px;
        line-height:1.17;
        letter-spacing:0.03em;
        text-transform:uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        }

.logo-part{color:#2e2f42;
        }

.nav-link-list{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 40px;
}

.nav-link-list:last-child{margin-right: 0;}

.nav-link{
        font-weight:500;
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:#2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        }

.nav-link:hover,
.nav-link:focus{color:#404BBF;
}

.address{
    font-style: normal;
    display: flex;
    margin-left: auto;
}

.address-link-list{
    display: flex;
    gap: 40px;
    align-items: center;
    }

.li-address-link{display: flex;}

.address-link{
    font-style:normal;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*--------------SERVICE---------------*/
.service{
padding: 188px 0;
background: #2e2f42;
max-width: 1440px;
margin: 0 auto;
}
.service-title{
        font-weight:700;
        font-size:56px;
        line-height:1.07;
        letter-spacing:0.02em;
        text-align:center;
        color:#fff;
        max-width: 496px;
        margin: 0 auto;
        }

.service-button{
    background:#4d5ae5;
    cursor:pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border:none;
    border-radius: 4px;
    padding: 16px 30px 26px 32px;
    height: 56px;
    min-width: 169px;
    }

    .service-button{
    margin: 0 auto;
    display: block;
    margin-top: 43px;
}

.service-button:hover,
.service-button:focus{background-color:#404BBF;}


/*-----------SOLUTIONS-----------*/
.section-solution{
    padding-top: 120px;;
    padding-bottom: 120px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.ul-solutions{
    display: flex;
    gap: 24px;
}
    
.solutions-subtitle{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
    }

.solutions-list{
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:#434455;
        }

.li-solutions-list{
flex-basis: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}


/*---------TEAM-------------*/

.team{background: #f4f4fd;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item-fon:first-child,
.team-item-fon:last-child{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;}

.team-title{
        font-weight:700;
        font-size:36px;
        line-height:1.11;
        letter-spacing:0.02em;
        text-align:center;
        color:#2e2f42;
        background: #f4f4fd;
        text-transform: capitalize;
        
        margin-bottom: 72px;
}

.team-item-fon{
    background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;}

    .team-sbt-prof{
    padding-top: 32px;
    padding-bottom: 32px;}
    
    /*.team-background{background: #f4f4fd;}*/

.img-team{}

.team-subtitle{
        font-weight:500;
        font-size:20px;
        line-height:1.2;
        letter-spacing:0.02em;
        text-align:center;
        color:#2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.team-subtitle-link{
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        text-align:center;
        color:#434455;
        text-align: center;
}


/*portfolio*/
.portfolio{
background-color: #FFFFFF;
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-title{
        font-weight:700;
        font-size:36px;
        line-height:1.11;
        letter-spacing:0.02em;
        text-align:center;
        color:#2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-fon-col{
background-color: #FFFFFF;
width: calc((100% - 48px) / 3);
}

.portfolio-row-one{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-subtitle-pro {
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.portfolio-subtitle-text{
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
}
.port-pro-text{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

/*----------------FOOTER----------------*/
.footer {padding: 100px 0;
    background: #2e2f42;

}
.footer-background{
    
    
}
    
.logo-part-footer{
    color: #f4f4fd;
    padding-top: 100px;
}

.logo-footer-link{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-text-p {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#f4f4fd;
    max-width: 264px;
}